.checkout__bill {
  background: #fcfcfc;
  padding: 25 px;
}

.checkout__total {
  border-top: 1px solid #ddd;
  padding-top: 30px;
}
.ui-dialog-buttonpane button {
  text-align: center;
}
.error-message{
  justify-content: center;
  text-align: center;

}
.centered-message{
  justify-content: center;
  text-align: center;
}
.addTOCart__btn1{
  border: none;
  padding: 7px 18px;
  background: #CD853F;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-left:5px;
}
.addTOCart__btn1:hover {
  color: #F4A460;
}


@media only screen and (max-width: 768px) {
  .checkout__bill h6 {
    font-size: 1.0rem;
    
  }
  .checkout__bill {
    margin-top: 30px;
  }
  .addTOCart__btn1{
    justify-content: center;
    text-align: center;
  }
  
}
