.link:hover {
    color: #F4A460;
  }
  .error-message {
    color: red;
  }
  
  .success-message {
    color: green;
  }  
  .form{
    background: #f3c6a0;
  }
  body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }